.parallax {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.scroller {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-family: var(--font-instrument-sans), sans-serif;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: black;
}

.scroller span {
    flex-shrink: 0;
    padding-right: 2rem;
}

@media (min-width: 768px) {
    .scroller {
        font-size: 4rem;
        line-height: 4.5rem;
    }
}