.scroll-reveal-container {
    width: 100%;
    margin: 2rem 0;
}

.scroll-reveal-h2 {
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.05em;
    text-align: left;
}

.reveal-word {
    display: inline-block;
    will-change: color;
    margin-right: 0.15em;
}