.scroll-reveal {
    margin: 1rem 0;
    width: 100%;
}

.scroll-reveal-text {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    line-height: 1.5;
    font-weight: 700;
    color: black;
    text-align: left;
}

.word {
    display: inline-block;
    margin-right: 0.25em;
}